// SASS SHEET FOR WEBSITE
// This code is annotated for my future reference :)

// ---------------------- VARIABLES ---------------------------- //
// BODY VARIABLES
$body-text-color: rgb(255, 255, 255);
$body-text-size: 2rem;
$body-text-size-small: 1.5rem;
$body-text-size-smallest: 1.2rem;
$body-color: rgb(0, 0, 0, 0.5);
$background-color: white;
$font-family: "Ysabeau Office", sans-serif;

// HEADER VARIABLES
$nav-text-color: rgb(255, 255, 255);
$header-font-size: 3rem;
$header-background-color: navy;

// FOOTER VARIABLES
$footer-font-size: 1rem;
$footer-text-color: white;
$footer-background-color: rgb(0, 0, 0, 0.6);

// MISC VARIABLES & FUNCTIONS
$box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5), 0 7px 10px 0 rgba(0, 0, 0, 0.5); // basic drop shadow
$border-shadow: 0 0 25px 3px rgba(255, 187, 0, 0.9);
$image-shadow: 0 0 12px 0 rgba(255, 187, 0, 0.7), 0 0 20px 0 rgba(255, 187, 0, 0.3);
$portfolio-shadow: 0 0 12px -2px black;

// ---------------------- MAIN CODE BELOW ---------------------------- //

// ------------- HEADER ---------------- //
// styling header sections
header {
    z-index:1000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0.5em 1 em;
    font-family: $font-family;
    font-size: $header-font-size;
    background: rgb(3,14,45, 0.8);
    background: linear-gradient(0deg, rgba(1, 7, 23, 0.6) 0%, rgba(6, 21, 40, 0.6) 44%, rgba(0, 27, 20, 0.5) 90%); 
}

.headline { // big text on home page
    font-family: $font-family;
    text-align: center;
}

.secondary-headline { // big text on about page
    font-family: $font-family;
    text-align: center;
    font-size: 1.7rem;
    text-decoration: underline;
}

.tertiary-headline {
    font-family: $font-family;
    margin: 1vh;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

.name-logo { // name at top left of page
    float: left;
    margin: 0.75vh 0 0.5vh 0.5vw;
    font-size: $header-font-size;
    text-decoration: none;
    color: white;
    // makes font thicker without having to use bold setting in the fonts download section (i.e. font outline)
    // note this only works because the text has been clipped to a background image 
    -webkit-text-stroke: 7px transparent; 

    // animate "logo" text
    background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #7128c0 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text; // attaches color gradient onto text only 
    color: transparent; // allows gradient to show
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite; // causes the gradient to move 
}

@keyframes textclip { // defines waypoints for the animation to move to (i.e. transition points)
    to {
        background-position: 200% center;
    }
}

.name-logo a:hover {
    // styling name logo link effects to invert animation colors on hover
    background-image: linear-gradient(
        -225deg,
        #021736 0%,
        #3fd768 29%,
        #00EC9E 67%,
        #3f03d5 100%
        );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text; // attaches color gradient onto text only 
    color: transparent; // allows gradient to show
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite; // causes the gradient to move 
}

.top-links {
    color: $nav-text-color;
    margin: 15px;
}

.links a {
    text-decoration: none;
}

.links a.active {
    border-bottom: 1px solid white;
    color: goldenrod;
}

section a:visited {
    color: skyblue;
}

nav{
    float: right;
}

.links a:hover {
    // styling header link hover effects 
    background-color: rgba(0,0,0,0.5);
    margin: 3px;
    padding: 5px; // hover & margin together in this hover section causes the "zoom-in" effect 
    border-radius: 5px;
    box-shadow: $border-shadow;
    transition: all 200ms ease-out;
    color: goldenrod;
}

// -------------------------- BODY ----------------------------- //

// styling body
body {
    font-family: $font-family;
    // the "fixed" property creates a static background image (doesn't move with scroll)
    background: url(https://tinyurl.com/y6mmb6sp) fixed; 
    background-size: cover;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

// -------- HOME PAGE ---------- //

// home main text section
.home-main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30vh 0;
    box-shadow: 0 0 12px -2px black;
    min-height: 100vh;
    font-family: $font-family;
    font-size: $body-text-size;
    background-color: $body-color;
    color: $body-text-color;
}

// -------- ABOUT PAGE ---------- //

// about main text section
.about-main {
    display: grid;
    padding: 10vh 1vw;
    box-shadow: 0 0 12px -2px black;
    min-height: 100vh;
    font-family: $font-family;
    background-color: $body-color;
    color: $body-text-color;
}

.bio-block {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: $body-text-size-small;
}

.creative-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: $body-text-size-small;
    padding: 2vh 5vw;
}

.hobbies-block {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-size: $body-text-size-small;
    padding: 2vh 5vw;
}

// -------- PORTFOLIO PAGE ---------- //

// portfolio main text section
.portfolio-main {
    display: grid;
    padding: 10vh 0;
    width: 100%;
    box-shadow: $portfolio-shadow;
    min-height: 100vh;
    font-family: $font-family;
    background-color: $body-color;
    color: $body-text-color;
}

.project {
    font-family: $font-family;
    font-size: $body-text-size;
    width: calc(100% - 5em);
    background: rgba(0,0,0,0.5);
    color: $body-text-color;
    box-shadow: $box-shadow;
    margin: 2em auto;
    padding: 1em;
    text-align: center;
}

// -------- CONTACT PAGE ---------- //

// contact main text section
.contact-main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 12px -2px black;
    min-height: 100vh;
    font-family: $font-family;
    font-size: $body-text-size-small;
    background-color: $body-color;
    color: $body-text-color;
}

// styling contact form fields
.contactForms-container {
    display: grid;
}

.contact-outer-wrapper {
    padding: 3vh 5vw;
}

.formInput {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.formInput-message {
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    margin: 0 2vw;
    padding: 0.5vw;
}

.formInput-submit {
    display: grid;
    align-items: center;
    padding: 3vh 15vw;
}

// -------- MISC ---------- //

// styling media

.gallery {
    display: flex;
    justify-content: space-evenly;
}

.media {
    display: flex;
    margin: 10px;
}

.gif {
    transform: scale(0.5);
}

// styling image hover effects 
.media a:hover {
    box-shadow: $image-shadow;
    transition: all 200ms ease-out;
    color: goldenrod;
}

// styling images
.image-general {
    height: 200px;
    width: auto;
    box-shadow: $box-shadow;
}

// styling divider line
.divider {
    margin-top: -50px;
    margin-bottom: -30px;
}

// ------------- FOOTER ---------------- //

// footer
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0.1em 0.1em;
    font-family: $font-family;
    font-size: $footer-font-size;
    color: white;
    background: $footer-background-color;
    text-align: center;
    display: grid;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: $footer-font-size;
}

.sm-images {
    height: 30px;
    margin: 0.5vw;
}

// -------------------------- SCALING FOR DEVICES ----------------------------- //
// ----------------------- Scaling for ipads/tablets ----------------------- //
@media (max-width:1024px) {
    body {
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .name-logo {
        margin: 0.75vh 0 0vh 11vw;
    }

    nav {
        margin: -2vh 4vw 0vh 3vw;
        float: left;
    }

    // --------- modifying home page ------------- //

    .home-main {
        margin: 0vh 10vw !important;
        margin-bottom: -10vh !important;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        min-height: 100vh;
    }

    .bio-statement {
        margin: 0 10vw;
        padding: 0 10vw;
    }

    // --------- modifying about page ------------- //

    .about-main {
        margin: 0vh 10vw !important; // locks in proportions of page to show the edges
        margin-bottom: -10vh !important;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden; // clips page to proportions
        padding: 15vh 5vw;
        min-height: 100vh;
    }

    .divider {
        margin: -50px 10vw -50px -23vw;
        transform: scaleX(0.7);
    }

    .creative-block {
        display: grid !important;
    }

    .creative-block > span {
        margin: 0vh 10vw -3vh -23vw !important;
        padding: 1vh 10vw 3vh 20vw !important;
    }

    .media {
        margin: 2vh 20vw 2vh -2.5vw !important;
        transform: scale(0.8);
    }

    .gallery {
        display: grid;
        justify-items: center;
        margin: 0 !important;
        padding: 0vh 14vw;
        .media {
            margin: -1vh 0 !important;
        }
    }

    .hobbies-block {
        display: grid;
        justify-items: center;
        span {
            margin: 3vh 0 !important;
            text-align: center;
        }
    }

    // --------- modifying portfolio page ------------- //
    .portfolio-main {
        margin: 0vh 0vw 0vh 10vw !important;
        padding: 0vh -25vw 0 25vw !important;
        margin-bottom: -10vh !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80% !important;
    }

    .tertiary-headline {
        margin: 8vh 0 -3vh 0 ;
    }

    .project {
        padding: -10vh 10vw;
    }

    // --------- modifying contact page ------------- //
    .contact-main {
        margin: -20vh 10vw -10vh 10vw !important; // locks in proportions of page to show the edges
        display: flex;
        flex-wrap: wrap;
        overflow: hidden; // clips page to proportions
        padding: 15vh 5vw;
    }

    .formInput-message {
        margin-left: 7vw;
        max-width: 50vw;
        padding: 0.5vw;
    }
}

// --------------- SCALING FOR MOBILE  ------------------ //
@media (max-width:480px) {
    body {
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .name-logo {
        transform: scale(0.8);
        margin: 0;
    }

    nav {
        transform: scale(0.6);
    }

    .links {
        // display: grid;
        margin: -8vw -10vw 0 -38vw !important;
        width: 180%; // makes section horizontal line instead of wrapped (expands box size) 
    }

    // --------- modifying home page ------------- //

    .home-main {
        margin: 0vh 10vw !important;
        margin-bottom: -10vh !important;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 15vh 1vw; 
        max-height: 100vh;
    }

    // --------- modifying about page ------------- //

    .about-main {
        margin: 0vh 10vw !important; // locks in proportions of page to show the edges
        margin-bottom: -10vh !important;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden; // clips page to proportions
        padding: 15vh 5vw;
        min-height: 100vh;
    }

    .image-general {
        margin: 0 2vw;
    }

    .divider {
        margin: -50px 0vw -50px -60vw;
        transform: scaleX(0.3);
    }

    .bio-block {
        margin: 0vh 10vw -3vh -21.5vw !important;
        padding: 1vh 10vw 3vh 20vw !important;
    }

    .bio-block > span {
        text-justify: inter-word;
    }

    .creative-block {
        display: grid !important;
        img {
            transform: scale(0.8);
            margin: -8vh -26vw;
        }
        span {
            align-items: center;
            justify-content: center;
        }
        margin: 0 5vw;
    }

    .media {
        margin: 2vh 20vw 2vh -2.5vw !important;
    }

    .gallery {
        display: grid;
        justify-items: center;
        margin: 0 !important;
        padding: 0vh 0vw;
        .media {
            margin: 0 -5vw !important;
        }
    }

    .hobbies-block {
        display: grid;
        justify-items: center;
        span {
            margin: 3vh 0 !important;
            text-align: center;
        }
    }

    // --------- modifying portfolio page ------------- //
    .portfolio-main {
        margin: 0vh 0vw -10vh 10vw !important;
        padding: 0vh -25vw 0 25vw !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80% !important;
    }

    .tertiary-headline {
        margin: 8vh 0 -3vh 0 ;
        font-size: 1.7rem;
    }

    .project {
        padding: -10vh 10vw;
        font-size: $body-text-size-smallest;
    }

    // --------- modifying contact page ------------- //
    .contact-main {
        margin: -20vh 10vw -10vh 10vw !important; // locks in proportions of page to show the edges
        display: flex;
        flex-wrap: wrap;
        overflow: hidden; // clips page to proportions
        padding: 15vh 5vw;
    }

    .formInput-message {
        max-width: 45vw;
    }

    .formInput {
        display: grid;
    }
    
    .formInput-submit {
        display: grid;
        align-items: center;
        padding: 3vh 15vw;
    }
}